# üéì –í–≤–µ–¥–µ–Ω–∏–µ

–ü—Ä–∏–≤–µ—Ç, —É—á–∞—Å—Ç–Ω–∏–∫–∏ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è! üëã

–≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ ‚Äî –≤–∞—à –ø—Ä–æ–≤–æ–¥–Ω–∏–∫ –≤ –º–∏—Ä –∞–Ω–∞–ª–∏–∑–∞ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤ –∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è. –û–Ω –Ω–∞–ø–∏—Å–∞–Ω —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ —Ç–æ–ª—å–∫–æ –Ω–∞—á–∏–Ω–∞–µ—Ç –∑–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å Kaggle –∏ —É—á–∞—Å—Ç–≤—É–µ—Ç –≤ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö –≤–ø–µ—Ä–≤—ã–µ.

–ó–¥–µ—Å—å –º—ã –≤–º–µ—Å—Ç–µ:
- üìà –Ω–∞—É—á–∏–º—Å—è –∏–∑–≤–ª–µ–∫–∞—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏–∑ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤,
- üß† –ø–æ—Å—Ç—Ä–æ–∏–º –±–∞–∑–æ–≤—É—é –º–æ–¥–µ–ª—å –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è (LightGBM),
- üß™ –ø—Ä–æ–≤–µ–¥—ë–º –∫–æ—Ä—Ä–µ–∫—Ç–Ω—É—é –≤–∞–ª–∏–¥–∞—Ü–∏—é,
- üì§ –ø–æ–¥–≥–æ—Ç–æ–≤–∏–º –ø—Ä–æ–≥–Ω–æ–∑ –∏ –æ—Ç–ø—Ä–∞–≤–∏–º –µ–≥–æ –≤ –≤–∏–¥–µ submission-—Ñ–∞–π–ª–∞.

> üí° –ù–µ—Å–º–æ—Ç—Ä—è –Ω–∞ —Ç–æ, —á—Ç–æ —Ç–µ–∫—É—â–µ–µ —Ä–µ—à–µ–Ω–∏–µ –Ω–µ –ø–æ–±–µ–∂–¥–∞–µ—Ç –±–µ–Ω—á–º–∞—Ä–∫–∏, **—Å–æ–≤—Å–µ–º –Ω–µ–±–æ–ª—å—à–∏–µ —É–ª—É—á—à–µ–Ω–∏—è** (–Ω–∞–ø—Ä–∏–º–µ—Ä, –¥—Ä—É–≥–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏ –∏–ª–∏ –∞—Ä—Ö–∏—Ç–µ–∫—Ç—É—Ä–∞) —É–∂–µ –ø–æ–∑–≤–æ–ª—è—Ç –≤–∞–º –∑–∞–Ω—è—Ç—å **—Ç–æ–ø–æ–≤—ã–µ –º–µ—Å—Ç–∞** –≤ —Ä–µ–π—Ç–∏–Ω–≥–µ!

–¶–µ–ª—å —ç—Ç–æ–≥–æ –Ω–æ—É—Ç–±—É–∫–∞ ‚Äî **–ø–æ–∫–∞–∑–∞—Ç—å –≤–∞–º –±–∞–∑–æ–≤—ã–π, –Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –ø—É—Ç—å**:
- –Ω–∏–∫–∞–∫–∏—Ö "–º–∞–≥–∏—á–µ—Å–∫–∏—Ö" —Ç—Ä—é–∫–æ–≤,
- —Ç–æ–ª—å–∫–æ –ø–æ–Ω—è—Ç–Ω—ã–µ –∏ –≤–æ—Å–ø—Ä–æ–∏–∑–≤–æ–¥–∏–º—ã–µ —à–∞–≥–∏.

–£–¥–∞—á–∏ –≤ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏–∏! üöÄ  
**–í—ã —É–∂–µ –Ω–∞ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–º –ø—É—Ç–∏.**

In [1]:
import pandas as pd
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import os

# 1. –ó–∞–≥—Ä—É–∑–∫–∞
work_dir = "../kaggle_data_ts/"
# work_dir = "../input/kazakhstan-ai-respa-take-home/"
train = pd.read_csv(os.path.join(work_dir, "train.csv"))
train['submitted_date'] = pd.to_datetime(train['submitted_date'])
train.head()

/Users/sneddy/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

                                       category submitted_date  num_papers
0  hep-ph - High Energy Physics - Phenomenology     2000-01-01           5
1  hep-ph - High Energy Physics - Phenomenology     2000-01-02           6
2  hep-ph - High Energy Physics - Phenomenology     2000-01-03          14
3  hep-ph - High Energy Physics - Phenomenology     2000-01-04          10
4  hep-ph - High Energy Physics - Phenomenology     2000-01-05          16

## üìÇ –†–∞–±–æ—Ç–∞ —Å –æ–¥–Ω–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–µ–π

–î–ª—è –Ω–∞—á–∞–ª–∞ —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–∏–º—Å—è –Ω–∞ –æ–¥–Ω–æ–π –ø–æ–¥–∫–∞—Ç–µ–≥–æ—Ä–∏–∏. –ú—ã –∏–∑–≤–ª–µ—á—ë–º –µ—ë –≤—Ä–µ–º–µ–Ω–Ω–æ–π —Ä—è–¥ ‚Äî —É–ø–æ—Ä—è–¥–æ—á–∏–º –ø–æ –¥–∞—Ç–µ, —Å–¥–µ–ª–∞–µ–º –¥–∞—Ç—É –∏–Ω–¥–µ–∫—Å–æ–º –∏ —É–±–µ—Ä—ë–º –ª–∏—à–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏. –≠—Ç–æ –ø–æ–º–æ–∂–µ—Ç –Ω–∞–º —É–¥–æ–±–Ω–æ —Å—á–∏—Ç–∞—Ç—å rolling-—Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –∏ –≥–æ—Ç–æ–≤–∏—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏.

In [2]:
def get_category_data(df: pd.DataFrame, category: str):
    category_data = df[df['category'] == category].copy()
    category_data = category_data.sort_values('submitted_date')
    category_data = category_data.set_index('submitted_date')
    return category_data.drop('category', axis=1)

category_data = get_category_data(train, 'hep-ph - High Energy Physics - Phenomenology')
category_data

                num_papers
submitted_date
2000-01-01               5
2000-01-02               6
2000-01-03              14
2000-01-04              10
2000-01-05              16
...                    ...
2025-02-05              32
2025-02-06              29
2025-02-07              25
2025-02-08               5
2025-02-09               6

[9172 rows x 1 columns]

## üîÆ –†–∞—Å—à–∏—Ä–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –±—É–¥—É—â–µ–µ

–ß—Ç–æ–±—ã –Ω–∞—à–∞ –º–æ–¥–µ–ª—å –º–æ–≥–ª–∞ –¥–µ–ª–∞—Ç—å –ø—Ä–æ–≥–Ω–æ–∑—ã, –º—ã —Ä–∞—Å—à–∏—Ä–∏–º –≤—Ä–µ–º–µ–Ω–Ω–æ–π —Ä—è–¥ –Ω–∞ –æ–¥–Ω—É –Ω–µ–¥–µ–ª—é –≤–ø–µ—Ä—ë–¥.  

–ú—ã –¥–æ–±–∞–≤–∏–º 7 –±—É–¥—É—â–∏—Ö –¥–∞—Ç –±–µ–∑ –∑–Ω–∞—á–µ–Ω–∏–π ‚Äî –æ–Ω–∏ –Ω—É–∂–Ω—ã, —á—Ç–æ–±—ã –º–æ–¥–µ–ª—å –º–æ–≥–ª–∞ "–∑–∞–≥–ª—è–Ω—É—Ç—å –≤ –±—É–¥—É—â–µ–µ" –∏ —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏ –¥–ª—è –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

–î–ª—è –ø—Ä–æ—Å—Ç–æ—Ç—ã –º—ã –±—É–¥–µ–º –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ–¥–Ω—É —Å–ª–µ–¥—É—é—â—É—é –Ω–µ–¥–µ–ª—é - –∞ –¥–∞–ª—å—à–µ –º—ã –±—É–¥–µ–º –ø—Ä–æ—Å—Ç–æ –ø–æ–≤—Ç–æ—Ä—è—Ç—å –Ω–∞—à–∏ –ø—Ä–æ–≥–Ω–æ–∑—ã

In [3]:
def extend_dataset(category_data, last_train_date, future_weeks_num: int = 0):
    if future_weeks_num > 0:
        future_dates = pd.date_range(
                start=last_train_date + pd.Timedelta(days=1),
                periods=future_weeks_num * 7,
                freq='D'
            )
            
        future = pd.DataFrame(index= future_dates, data={'num_papers': None})
        return pd.concat((category_data, future))

last_train_date=train.submitted_date.max()
category_data = extend_dataset(category_data, last_train_date=last_train_date, future_weeks_num=1)

## üìä –†–∞—Å—á—ë—Ç rolling-–ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (—Å–∫–æ–ª—å–∑—è—â–∏—Ö –∞–≥–≥—Ä–µ–≥–∞—Ü–∏–π)

–¢–µ–ø–µ—Ä—å –ø–æ—Å—á–∏—Ç–∞–µ–º –±–∞–∑–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ —Å–∫–æ–ª—å–∑—è—â–µ–º—É –æ–∫–Ω—É (rolling window):

- `rolling_sum_during_week` ‚Äî —Å–∫–æ–ª—å–∫–æ —Å—Ç–∞—Ç–µ–π –±—ã–ª–æ –æ–ø—É–±–ª–∏–∫–æ–≤–∞–Ω–æ –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 7 –¥–Ω–µ–π.
- `rolling_max_during_week` ‚Äî –º–∞–∫—Å–∏–º—É–º —Å—Ç–∞—Ç–µ–π —ç—Ç–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤ –¥–µ–Ω—å –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 7 –¥–Ω–µ–π.
- `rolling_min_during_month` –∏ `rolling_max_during_month` ‚Äî –º–∏–Ω–∏–º—É–º –∏ –º–∞–∫—Å–∏–º—É–º –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 28 –¥–Ω–µ–π (–º–µ—Å—è—Ü).

–≠—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ–º–æ–≥—É—Ç –º–æ–¥–µ–ª–∏ –ø–æ–Ω–∏–º–∞—Ç—å –Ω–µ–¥–∞–≤–Ω—é—é –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.

In [4]:
def get_rolling_features(cat_data: pd.DataFrame):
    daily_features = pd.DataFrame()
    weekly_rolling = category_data['num_papers'].rolling('7D', min_periods=1)
    daily_features[f'rolling_sum_during_week'] = weekly_rolling.sum()
    daily_features[f'rolling_max_during_week'] = weekly_rolling.max()

    month_rolling = category_data['num_papers'].rolling('28D', min_periods=1)
    daily_features[f'rolling_min_during_month'] = month_rolling.min()
    daily_features[f'rolling_max_during_month'] = month_rolling.max()
    return daily_features

rolling_features = get_rolling_features(cat_data=category_data)
rolling_features

,rolling_sum_during_week,rolling_max_during_week,rolling_min_during_month,rolling_max_during_month
2000-01-01,5.0,5.0,5.0,5.0
2000-01-02,11.0,6.0,5.0,6.0
2000-01-03,25.0,14.0,5.0,14.0
2000-01-04,35.0,14.0,5.0,14.0
2000-01-05,51.0,16.0,5.0,16.0
...,...,...,...,...
2025-02-12,65.0,29.0,5.0,32.0
2025-02-13,36.0,25.0,5.0,32.0
2025-02-14,11.0,6.0,5.0,32.0
2025-02-15,6.0,6.0,5.0,32.0
2025-02-16,NaN,NaN,5.0,32.0

## ‚è™ –î–æ–±–∞–≤–ª–µ–Ω–∏–µ –ª–∞–≥–æ–≤ (–∑–Ω–∞—á–µ–Ω–∏–π —Å–¥–≤–∏–≥–∞)

–¢–µ–ø–µ—Ä—å –¥–æ–±–∞–≤–∏–º **–ª–∞–≥-–ø—Ä–∏–∑–Ω–∞–∫–∏** ‚Äî –∑–Ω–∞—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –±—ã–ª–∏ —Ä–æ–≤–Ω–æ –Ω–µ–¥–µ–ª—é –Ω–∞–∑–∞–¥:

- –ù–∞–ø—Ä–∏–º–µ—Ä, `rolling_sum_during_week_last_week` ‚Äî —ç—Ç–æ —Å—É–º–º–∞ –∑–∞ –Ω–µ–¥–µ–ª—é, –Ω–æ –∏–∑ **–ø—Ä–µ–¥—ã–¥—É—â–µ–π** –Ω–µ–¥–µ–ª–∏.
- –¢–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤–∞–∂–Ω—ã, —á—Ç–æ–±—ã –º–æ–¥–µ–ª—å –º–æ–≥–ª–∞ "–≤—Å–ø–æ–º–∏–Ω–∞—Ç—å", —á—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏–ª–æ —Ä–∞–Ω–µ–µ, –∏ –¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –¥–∏–Ω–∞–º–∏–∫–∏.

–ú—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º `.shift(freq='7D')`, —á—Ç–æ–±—ã —Å–º–µ—Å—Ç–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ 7 –¥–Ω–µ–π –Ω–∞–∑–∞–¥.

In [5]:
def add_lag_features(features: pd.DataFrame):
    new_features = features.copy()
    for col in features.columns:
        new_features[f'{col}_last_week'] = features[col].shift(freq=pd.Timedelta(days=7))
    return new_features.dropna()

lag_features = add_lag_features(rolling_features)
lag_features

,rolling_sum_during_week,rolling_max_during_week,rolling_min_during_month,rolling_max_during_month,rolling_sum_during_week_last_week,rolling_max_during_week_last_week,rolling_min_during_month_last_week,rolling_max_during_month_last_week
2000-01-08,71.0,16.0,4.0,16.0,5.0,5.0,5.0,5.0
2000-01-09,67.0,16.0,2.0,16.0,11.0,6.0,5.0,6.0
2000-01-10,70.0,17.0,2.0,17.0,25.0,14.0,5.0,14.0
2000-01-11,84.0,24.0,2.0,24.0,35.0,14.0,5.0,14.0
2000-01-12,86.0,24.0,2.0,24.0,51.0,16.0,5.0,16.0
...,...,...,...,...,...,...,...,...
2025-02-11,97.0,32.0,5.0,32.0,134.0,29.0,7.0,31.0
2025-02-12,65.0,29.0,5.0,32.0,137.0,32.0,7.0,32.0
2025-02-13,36.0,25.0,5.0,32.0,138.0,32.0,7.0,32.0
2025-02-14,11.0,6.0,5.0,32.0,149.0,32.0,7.0,32.0
2025-02-15,6.0,6.0,5.0,32.0,144.0,32.0,5.0,32.0

## üìÜ –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ –Ω–µ–¥–µ–ª—å–Ω—ã–π —É—Ä–æ–≤–µ–Ω—å

–ü–æ—Å–∫–æ–ª—å–∫—É –Ω–∞–º –Ω—É–∂–Ω–æ –¥–µ–ª–∞—Ç—å –ø—Ä–æ–≥–Ω–æ–∑ **–ø–æ –Ω–µ–¥–µ–ª—è–º**, –∞–≥—Ä–µ–≥–∏—Ä—É–µ–º –µ–∂–µ–¥–Ω–µ–≤–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤ –Ω–µ–¥–µ–ª—å–Ω—ã–µ.

- –ö–∞–∂–¥–æ–º—É –¥–Ω—é –º—ã —Å–æ–ø–æ—Å—Ç–∞–≤–∏–º –∫–æ–Ω–µ—Ü –Ω–µ–¥–µ–ª–∏ (–≤–æ—Å–∫—Ä–µ—Å–µ–Ω—å–µ).
- –ó–∞—Ç–µ–º –¥–ª—è –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏ –≤–æ–∑—å–º—ë–º **–ø–æ—Å–ª–µ–¥–Ω–µ–µ –¥–æ—Å—Ç—É–ø–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ** –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.
- –≠—Ç–æ –¥–∞—Å—Ç –Ω–∞–º —Ä–æ–≤–Ω–æ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –Ω–∞ –∫–∞–∂–¥—É—é –Ω–µ–¥–µ–ª—é.

–¢–µ–ø–µ—Ä—å –º—ã –≥–æ—Ç–æ–≤—ã —Å—Ç—Ä–æ–∏—Ç—å —Ç–∞—Ä–≥–µ—Ç –∏ –æ–±—É—á–∞—Ç—å –º–æ–¥–µ–ª—å.

In [6]:
def build_weekly_features(features):
    daily_features = features.reset_index(names="day")
    daily_features['week'] = daily_features['day'] + pd.to_timedelta(6 - daily_features['day'].dt.weekday, unit='D')
    weekly_features = daily_features.groupby('week').last().reset_index()
    return weekly_features.drop('day', axis=1)

weekly_features = build_weekly_features(lag_features)
weekly_features

,week,rolling_sum_during_week,rolling_max_during_week,rolling_min_during_month,rolling_max_during_month,rolling_sum_during_week_last_week,rolling_max_during_week_last_week,rolling_min_during_month_last_week,rolling_max_during_month_last_week
0,2000-01-09,67.0,16.0,2.0,16.0,11.0,6.0,5.0,6.0
1,2000-01-16,105.0,24.0,2.0,24.0,67.0,16.0,2.0,16.0
2,2000-01-23,102.0,26.0,2.0,26.0,105.0,24.0,2.0,24.0
3,2000-01-30,108.0,24.0,2.0,26.0,102.0,26.0,2.0,26.0
4,2000-02-06,101.0,24.0,2.0,26.0,108.0,24.0,2.0,26.0
...,...,...,...,...,...,...,...,...,...
1306,2025-01-19,145.0,29.0,4.0,47.0,123.0,30.0,4.0,60.0
1307,2025-01-26,157.0,31.0,4.0,47.0,145.0,29.0,4.0,47.0
1308,2025-02-02,139.0,29.0,7.0,31.0,157.0,31.0,4.0,47.0
1309,2025-02-09,143.0,32.0,5.0,32.0,139.0,29.0,7.0,31.0
1310,2025-02-16,6.0,6.0,5.0,32.0,144.0,32.0,5.0,32.0

## üéØ –ü–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π (target)

–¢–µ–ø–µ—Ä—å —Å–æ–∑–¥–∞–¥–∏–º **—Ç–∞—Ä–≥–µ—Ç** ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É–±–ª–∏–∫–∞—Ü–∏–π –≤ –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–µ, —Å–¥–≤–∏–Ω—É—Ç–æ–µ –Ω–∞ `week_horizon`.

- –ï—Å–ª–∏ `week_horizon=1`, –º—ã –±—É–¥–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—Ç—å —á–∏—Å–ª–æ –ø—É–±–ª–∏–∫–∞—Ü–∏–π **–Ω–∞ —Å–ª–µ–¥—É—é—â–µ–π –Ω–µ–¥–µ–ª–µ**.
- –ú—ã –∞–≥—Ä–µ–≥–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –Ω–µ–¥–µ–ª—è–º (`resample('W')`) –∏ —Å–¥–≤–∏–≥–∞–µ–º –∏—Ö –≤–≤–µ—Ä—Ö (`shift(-1)`), —á—Ç–æ–±—ã –∫–∞–∂–¥–∞—è –Ω–µ–¥–µ–ª—è "—Å–º–æ—Ç—Ä–µ–ª–∞ –≤ –±—É–¥—É—â–µ–µ".

–≠—Ç–æ –Ω–∞—à–∞ —Ü–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.

In [7]:
def build_targets(category_data, week_horizon: int):
    targets = category_data.resample('W').sum().shift(-week_horizon).num_papers.rename('target')
    targets.index.name = 'week'
    return targets

targets = build_targets(category_data=category_data, week_horizon=1)
targets

week
2000-01-02      67
2000-01-09     105
2000-01-16     102
2000-01-23     108
2000-01-30     101
              ...
2025-01-19     157
2025-01-26     139
2025-02-02     143
2025-02-09       0
2025-02-16    None
Freq: W-SUN, Name: target, Length: 1312, dtype: object

# –ò—Ç–∞–∫ –ø–æ –æ–¥–Ω–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —É –Ω–∞—Å —É–∂–µ –µ—Å—Ç—å –≥–æ—Ç–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç –¥–ª—è —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏!

In [8]:
current_data = weekly_features.merge(targets, on='week')
current_data

,week,rolling_sum_during_week,rolling_max_during_week,rolling_min_during_month,rolling_max_during_month,rolling_sum_during_week_last_week,rolling_max_during_week_last_week,rolling_min_during_month_last_week,rolling_max_during_month_last_week,target
0,2000-01-09,67.0,16.0,2.0,16.0,11.0,6.0,5.0,6.0,105
1,2000-01-16,105.0,24.0,2.0,24.0,67.0,16.0,2.0,16.0,102
2,2000-01-23,102.0,26.0,2.0,26.0,105.0,24.0,2.0,24.0,108
3,2000-01-30,108.0,24.0,2.0,26.0,102.0,26.0,2.0,26.0,101
4,2000-02-06,101.0,24.0,2.0,26.0,108.0,24.0,2.0,26.0,96
...,...,...,...,...,...,...,...,...,...,...
1306,2025-01-19,145.0,29.0,4.0,47.0,123.0,30.0,4.0,60.0,157
1307,2025-01-26,157.0,31.0,4.0,47.0,145.0,29.0,4.0,47.0,139
1308,2025-02-02,139.0,29.0,7.0,31.0,157.0,31.0,4.0,47.0,143
1309,2025-02-09,143.0,32.0,5.0,32.0,139.0,29.0,7.0,31.0,0
1310,2025-02-16,6.0,6.0,5.0,32.0,144.0,32.0,5.0,32.0,None

## üèóÔ∏è –°–±–æ—Ä —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ –¥–ª—è –æ–±—É—á–µ–Ω–∏—è

–¢–µ–ø–µ—Ä—å –æ–±—ä–µ–¥–∏–Ω–∏–º –≤—Å—ë –≤–º–µ—Å—Ç–µ –¥–ª—è –≤—Å–µ—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π:

1. –î–ª—è –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏:
   - –ò–∑–≤–ª–µ–∫–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω–æ–π —Ä—è–¥.
   - –î–æ–±–∞–≤–ª—è–µ–º –±—É–¥—É—â—É—é –Ω–µ–¥–µ–ª—é –¥–ª—è –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.
   - –°—á–∏—Ç–∞–µ–º rolling-–ø—Ä–∏–∑–Ω–∞–∫–∏.
   - –î–æ–±–∞–≤–ª—è–µ–º –ª–∞–≥–∏ (–ø—Ä–µ–¥—ã–¥—É—â–∏–µ –Ω–µ–¥–µ–ª–∏).
   - –ê–≥—Ä–µ–≥–∏—Ä—É–µ–º –≤—Å—ë –Ω–∞ –Ω–µ–¥–µ–ª—å–Ω–æ–º —É—Ä–æ–≤–Ω–µ.
   - –°–æ–∑–¥–∞—ë–º `target` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É–±–ª–∏–∫–∞—Ü–∏–π –Ω–∞ —Å–ª–µ–¥—É—é—â–µ–π –Ω–µ–¥–µ–ª–µ.
2. –û–±—ä–µ–¥–∏–Ω—è–µ–º –¥–∞–Ω–Ω—ã–µ –≤—Å–µ—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π –≤ –æ–¥–∏–Ω —Ñ–∏–Ω–∞–ª—å–Ω—ã–π `dataset`.
3. –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –∫–æ–ª–æ–Ω–∫—É `category` –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø (–¥–ª—è LightGBM).

–¢–µ–ø–µ—Ä—å —É –Ω–∞—Å –µ—Å—Ç—å –ø–æ–ª–Ω–æ—Ü–µ–Ω–Ω—ã–π –æ–±—É—á–∞—é—â–∏–π –Ω–∞–±–æ—Ä, –≥–æ—Ç–æ–≤—ã–π –¥–ª—è –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è! üí™

In [9]:
from tqdm.auto import tqdm

last_train_date=train.submitted_date.max()
progress_bar = tqdm(train.category.unique())

dataset = []
for category in progress_bar:
    category_data = get_category_data(train, category)
    extended_category_data = extend_dataset(category_data, last_train_date=last_train_date, future_weeks_num=1)
    rolling_features = get_rolling_features(cat_data=extended_category_data)
    lag_features = add_lag_features(rolling_features)
    weekly_features = build_weekly_features(lag_features)
    targets = build_targets(category_data=category_data, week_horizon=1)
    data = weekly_features.merge(targets, on='week')
    data['category'] = category
    dataset.append(data)

dataset = pd.concat(dataset)
dataset['category'] = dataset['category'].astype('category')
dataset

  0%|          | 0/140 [00:00<?, ?it/s]

,week,rolling_sum_during_week,rolling_max_during_week,rolling_min_during_month,rolling_max_during_month,rolling_sum_during_week_last_week,rolling_max_during_week_last_week,rolling_min_during_month_last_week,rolling_max_during_month_last_week,target,category
0,2000-01-09,67.0,16.0,2.0,16.0,11.0,6.0,5.0,6.0,105.0,hep-ph - High Energy Physics - Phenomenology
1,2000-01-16,105.0,24.0,2.0,24.0,67.0,16.0,2.0,16.0,102.0,hep-ph - High Energy Physics - Phenomenology
2,2000-01-23,102.0,26.0,2.0,26.0,105.0,24.0,2.0,24.0,108.0,hep-ph - High Energy Physics - Phenomenology
3,2000-01-30,108.0,24.0,2.0,26.0,102.0,26.0,2.0,26.0,101.0,hep-ph - High Energy Physics - Phenomenology
4,2000-02-06,101.0,24.0,2.0,26.0,108.0,24.0,2.0,26.0,96.0,hep-ph - High Energy Physics - Phenomenology
...,...,...,...,...,...,...,...,...,...,...,...
1305,2025-01-12,62.0,11.0,5.0,24.0,60.0,11.0,5.0,24.0,65.0,q-bio
1306,2025-01-19,65.0,15.0,4.0,15.0,62.0,11.0,5.0,24.0,79.0,q-bio
1307,2025-01-26,79.0,15.0,4.0,15.0,65.0,15.0,4.0,15.0,84.0,q-bio
1308,2025-02-02,84.0,20.0,3.0,20.0,79.0,15.0,4.0,15.0,90.0,q-bio
1309,2025-02-09,90.0,21.0,3.0,21.0,84.0,20.0,3.0,20.0,NaN,q-bio

## üß™ –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –Ω–∞ –æ–±—É—á–∞—é—â—É—é, –≤–∞–ª–∏–¥–∞—Ü–∏–æ–Ω–Ω—É—é –∏ —Ç–µ—Å—Ç–æ–≤—É—é –≤—ã–±–æ—Ä–∫–∏

–ü–µ—Ä–µ–¥ –æ–±—É—á–µ–Ω–∏–µ–º –º–æ–¥–µ–ª–∏ –Ω—É–∂–Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ä–∞–∑–¥–µ–ª–∏—Ç—å –¥–∞–Ω–Ω—ã–µ:

- **train_dataset** ‚Äî –≤—Å—ë –¥–æ –ø–æ—Å–ª–µ–¥–Ω–∏—Ö 4 –Ω–µ–¥–µ–ª—å (–æ–±—É—á–µ–Ω–∏–µ).
- **valid_dataset** ‚Äî –ø–æ—Å–ª–µ–¥–Ω–∏–µ 4 –Ω–µ–¥–µ–ª–∏ –ø–µ—Ä–µ–¥ –ø–æ—Å–ª–µ–¥–Ω–µ–π –∏–∑–≤–µ—Å—Ç–Ω–æ–π –¥–∞—Ç–æ–π (–≤–∞–ª–∏–¥–∞—Ü–∏—è).
- **test_dataset** ‚Äî –¥–∞–Ω–Ω—ã–µ –±–µ–∑ —Ç–∞—Ä–≥–µ—Ç–∞ (–±—É–¥—É—â–µ–µ, –Ω–∞ –∫–æ—Ç–æ—Ä–æ–µ –º—ã –±—É–¥–µ–º –¥–µ–ª–∞—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ).

–≠—Ç–æ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –∏–º–∏—Ç–∏—Ä—É–µ—Ç —Ä–µ–∞–ª—å–Ω—É—é —Å–∏—Ç—É–∞—Ü–∏—é: –º—ã —É—á–∏–º—Å—è –Ω–∞ –ø—Ä–æ—à–ª–æ–º, –ø—Ä–æ–≤–µ—Ä—è–µ–º –Ω–∞ –ø–æ—Å–ª–µ–¥–Ω–µ–º –∏–∑–≤–µ—Å—Ç–Ω–æ–º —Ñ—Ä–∞–≥–º–µ–Ω—Ç–µ, –∏ –¥–µ–ª–∞–µ–º –ø—Ä–æ–≥–Ω–æ–∑ –Ω–∞ –±—É–¥—É—â–µ–µ.

In [10]:
labeled_data = dataset[dataset.target.notnull()].reset_index(drop=True).dropna()

n_valid_weeks = 4
valid_start_date = last_train_date - pd.Timedelta(days=7 * n_valid_weeks)

print(f"–ü—Ä–µ–¥–ø–æ—Å–ª–µ–¥–Ω—è—è –Ω–µ–¥–µ–ª—è: {valid_start_date}")
valid_dataset = labeled_data[labeled_data.week > valid_start_date]
train_dataset = labeled_data[labeled_data.week < valid_start_date]
test_dataset = dataset[dataset.target.isnull()].reset_index(drop=True)

print(train_dataset.shape, valid_dataset.shape, test_dataset.shape)

–ü—Ä–µ–¥–ø–æ—Å–ª–µ–¥–Ω—è—è –Ω–µ–¥–µ–ª—è: 2025-01-12 00:00:00
(175355, 11) (420, 11) (140, 11)

## üì¶ –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è LightGBM

–¢–µ–ø–µ—Ä—å –ø–æ–¥–≥–æ—Ç–æ–≤–∏–º –¥–∞–Ω–Ω—ã–µ –≤ –Ω—É–∂–Ω–æ–º —Ñ–æ—Ä–º–∞—Ç–µ –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏:

- `train_set` –∏ `valid_set` —Å–æ–∑–¥–∞—é—Ç—Å—è –≤ —Ñ–æ—Ä–º–∞—Ç–µ `lightgbm.Dataset` ‚Äî —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç –¥–ª—è —É—Å–∫–æ—Ä–µ–Ω–∏—è –æ–±—É—á–µ–Ω–∏—è.
- `test_set` –æ—Å—Ç–∞—ë—Ç—Å—è –æ–±—ã—á–Ω—ã–º `DataFrame`, –ø–æ—Ç–æ–º—É —á—Ç–æ –º—ã –ø—Ä–æ—Å—Ç–æ —Ö–æ—Ç–∏–º –ø–æ–ª—É—á–∏—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è.

–ö–æ–ª–æ–Ω–∫—É `target` –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º —Ç–æ–ª—å–∫–æ –∫–∞–∫ —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é (`label`).

In [11]:
import lightgbm

train_set = lightgbm.Dataset(train_dataset.drop(['week', 'target'], axis=1), label=train_dataset['target'])
valid_set = lightgbm.Dataset(valid_dataset.drop(['week', 'target'], axis=1), label=valid_dataset['target'])
test_set = test_dataset.drop(['week', 'target'], axis=1)

## üå≤ –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏ LightGBM —Å –∫–∞—Å—Ç–æ–º–Ω–æ–π –º–µ—Ç—Ä–∏–∫–æ–π

–¢–µ–ø–µ—Ä—å –º—ã –æ–±—É—á–∏–º –º–æ–¥–µ–ª—å LightGBM –¥–ª—è –∑–∞–¥–∞—á–∏ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏:

- –ò—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç—Ä–∏–∫—É `Safe MAPE` ‚Äî –æ–Ω–∞ –ø–æ–º–æ–≥–∞–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å —Å–ª–∏—à–∫–æ–º –±–æ–ª—å—à–æ–≥–æ —à—Ç—Ä–∞—Ñ–∞ –Ω–∞ –º–∞–ª—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è—Ö.
- –£–∫–∞–∑—ã–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏:
  - `objective: regression` ‚Äî –º—ã –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–∞—Ç–µ–π (—Ç–æ –µ—Å—Ç—å —á–∏—Å–ª–∞).
  - `learning_rate: 0.05` ‚Äî –Ω–∞—Å–∫–æ–ª—å–∫–æ –±—ã—Å—Ç—Ä–æ –æ–±—É—á–∞–µ—Ç—Å—è –º–æ–¥–µ–ª—å.
  - `depth: 5` ‚Äî –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –≥–ª—É–±–∏–Ω–∞ –¥–µ—Ä–µ–≤–∞.
  - `metric: None` ‚Äî –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º —Å–≤–æ—é –º–µ—Ç—Ä–∏–∫—É, –Ω–µ –≤—Å—Ç—Ä–æ–µ–Ω–Ω—É—é.

–ú—ã —Ç–∞–∫–∂–µ –≤–∫–ª—é—á–∞–µ–º:
- **–†–∞–Ω–Ω—é—é –æ—Å—Ç–∞–Ω–æ–≤–∫—É** (`early_stopping`), —á—Ç–æ–±—ã –Ω–µ –ø–µ—Ä–µ–æ–±—É—á–∏—Ç—å—Å—è.
- **–õ–æ–≥–≥–∏–Ω–≥** –∫–∞–∂–¥—ã–µ 50 –∏—Ç–µ—Ä–∞—Ü–∏–π, —á—Ç–æ–±—ã –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å –ø—Ä–æ—Ü–µ—Å—Å –æ–±—É—á–µ–Ω–∏—è.

–ü–∞—Ä–∞–º–µ—Ç—Ä—ã —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏ –±—ã–ª–∏ –≤—ã–±—Ä–∞–Ω—ã —Å–ª—É—á–∞–π–Ω–æ, –ø—Ä–æ—Å—Ç–æ —á—Ç–æ–±—ã –Ω–∞—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∞—Ç—å —Ö–æ—Ç—å —á—Ç–æ-—Ç–æ

In [12]:
def safe_mape_lgb(y_pred, dataset):
    y_true = dataset.get_label()
    denominator = pd.Series(y_true).abs().clip(lower=10.0)
    error = abs(y_pred - y_true) / denominator
    return 'safe_mape', error.mean(), False  # False = the lower the better

# 2. –ü–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏
params = {
    'objective': 'regression',
    'learning_rate': 0.05,
    'depth': 5,
    'verbosity': -1,
    'metric': 'None'
}

# 3. –û–±—É—á–µ–Ω–∏–µ —Å –∫–∞—Å—Ç–æ–º–Ω–æ–π –º–µ—Ç—Ä–∏–∫–æ–π
model = lightgbm.train(
    params,
    train_set,
    num_boost_round=200,
    valid_sets=[valid_set],
    valid_names=['valid'],
    feval=safe_mape_lgb,
    callbacks=[
        lightgbm.early_stopping(stopping_rounds=50),
        lightgbm.log_evaluation(period=50)
    ]
)

Training until validation scores don't improve for 50 rounds
[50]	valid's safe_mape: 0.217514
[100]	valid's safe_mape: 0.198487
[150]	valid's safe_mape: 0.197603
[200]	valid's safe_mape: 0.19758
Did not meet early stopping. Best iteration is:
[186]	valid's safe_mape: 0.197523

# –ò—Å–ø–æ–ª—å–∑—É–µ–º –Ω–∞—à—É –Ω–∞—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∞–Ω–Ω—É—é –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö

In [13]:
test_dataset['predicted'] = model.predict(test_set)
test_dataset[['category', 'predicted']]

                                         category   predicted
0    hep-ph - High Energy Physics - Phenomenology  136.662937
1                         math.CO - Combinatorics   98.995191
2                  cs.CG - Computational Geometry    5.956679
3                physics.gen-ph - General Physics    6.885276
4           math.CA - Classical Analysis and ODEs   28.818146
..                                            ...         ...
135          eess.IV - Image and Video Processing   86.364232
136                   eess.SP - Signal Processing  105.350379
137               q-fin.MF - Mathematical Finance    6.666041
138                                      cond-mat  425.298719
139                                         q-bio   79.637975

[140 rows x 2 columns]

# –î–µ–ª–∞–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—ã–π —Å–∞–±–º–∏—à–µ–Ω

–ø—Ä–æ–≤–µ—Ä—è–µ–º —á—Ç–æ –Ω–∞—à submission —É–ø–æ—Ä—è–¥–æ—á–µ–Ω —Ç–∞–∫–∂–µ –∫–∞–∫ sample_submission.csv

In [14]:

sample_submission = pd.read_csv(os.path.join(work_dir, "sample_submission.csv"))
sample_submission['category'] = sample_submission['id'].apply(lambda x: x.split('__')[0])
sample_submission = sample_submission.merge(test_dataset[['category', 'predicted']], on='category')
sample_submission[['id', 'predicted']].to_csv('ml_baseline.csv', index=False)